<div class="app-header__content">
    <div class="app-header-right">
        <div class="btn-group">
        <button type="button" class="btn dropdown-toggle" style="border:none" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell mr-1" style="font-size: 30px;"><span class="{{#if notification.unread 0}} {{else}}red-dot{{/if}}">{{#if notification.unread 0}} {{else}} {{notification.unread}}{{/if}}</span></i>
        </button>
        <div class="dropdown-menu form-group" style="max-height: 400px; overflow-y: scroll;">
            {{#each notification}}                                           
                <a href="/admin/notification/read/{{notify_id}}/{{id}}" class="btn text-left">
                    {{#if seen 0}}
                        {{#if type 'ir'}}
                            <strong style="font-size: 15px;">New comment on issue #{{notify_id}}: {{title}}</strong>
                        {{/if}}
                        {{#if type 'co'}}
                            <strong style="font-size: 15px;">You are now owner for issue #{{notify_id}}: {{title}}</strong>
                        {{/if}}
                        {{#if type 'i'}}
                            <strong style="font-size: 15px;">You have been assigned to issue #{{notify_id}}: {{title}}</strong>
                        {{/if}}
                    {{else}}
                        {{#if type 'ir'}}
                            New comment on issue #{{notify_id}}: {{title}}
                        {{/if}}
                        {{#if type 'co'}}
                            You are now owner for issue #{{notify_id}}: {{title}}
                        {{/if}}
                        {{#if type 'i'}}
                            You have been assigned to issue #{{notify_id}}: {{title}}
                        {{/if}}
                    {{/if}}
                </a>
                <hr>                                           
            {{/each}}
        </div>
</div>


<div class="btn-group">
        <button type="button" class="btn dropdown-toggle" style="border:none" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <i class="fas fa-comment-dots mr-1" style="font-size: 30px; color:black;"><span class="{{#if message_notification.unread 0}} {{else}}red-dot{{/if}}">{{#if message_notification.unread 0}} {{else}} {{message_notification.unread}}{{/if}}</span></i>
        </button>
        <div class="dropdown-menu form-group" style="max-height: 400px; overflow-y: scroll;">
            {{#each message_notification}}
                <a href="/chat/read/{{sender}}" class="btn text-left text-dark">
                    <strong style="font-size: 15px;">
                        <span>{{name}}:</span><br>
                        <small>{{title}}</small>
                    </strong>
                </a>
                <hr>
            {{/each}}
        </div>
    </div>
    </div>
</div>
