<div class="row">

    {{!-- Todo (today) --}}
    <div class="col-6" id="scroll">
        <h5 class="mb-4" id="in_details"></h5>
        <hr>
        <div id="todo_container">
            <div id="todo">

            </div>
        </div>
    </div>

    {{!-- Projects lists --}}
    <div class="col-3" id="scroll">
        <h5 class="mb-4">Project List [{{total_projects}}]</h5>
        <hr>
        {{#each projects}}
        <button type="button" onclick="todos({{id}})" class="btn btn-default" style="text-align: left;">
            <div class="name_list">
            <p>{{name}}</p>
        </div>
        </button>
        {{/each}}
    </div>

    {{!-- list of the users --}}
    <div class="col-3" id="scroll">
        <h5 class="mb-4">Employee Name [{{total_employee}}]</h5>
        <hr>
        
        {{#each employee}}
            <button type="button" onclick="user_todos({{id}})" class="btn btn-default" style="text-align: left;">
                <div class="name_list">
                    <p>{{name}}</p>
                </div>
            </button>
        {{!-- <a href="/admin/view_user/details/{{id}}" style="text-decoration: none; color:#495057">
            <div class="name_list">
            <p>{{name}}</p>
        </div>
        </a> --}}
        {{/each}}
    </div>
</div>

<script>
        // setting content width as device width
    let deviceHeight = window.innerHeight - 90
    document.getElementById("scroll").style.height = deviceHeight + "px";

    //for todos
    function todos(id){
        let project_id = id
        $("#todo").remove()
        $("#todo_container").append('<div id="todo">')
        $.ajax({
            type: 'GET',
            url: '/admin/project_todos/'+ project_id,
            success: (data) => {
                if (data.length > 0){
                    var result = ''
                    let anchor = ''
                    let title = 'Todo List  <a href="/admin/view_todos/'+project_id+'" class="btn btn-primary ml-3">View In Details</a>'  
                    for (let i = 0; i < data.length; i++){
                        if(data[i].status == 0){
                            anchor = '<a href="/edit/project_todos/status/'+data[i].id+'/'+ data[i].status+'" class="btn btn-outline-info btn-sm ml-3">incomplete</a>'
                        }else{
                             anchor = '<a href="/edit/project_todos/status/'+data[i].id+'/'+ data[i].status+'" class="btn btn-success btn-sm ml-3">completed</a>'
                        }
                        result += '<p>'+data[i].todo +' '+ anchor+'</p>'
                    }
                    result += '</div>'
                    $("#in_details").html(title)
                    $("#todo").append(result)
                }
            }
        })
    }


    // for user todos
    //for todos
    function user_todos(id){
        let user_id = id
        $("#todo").remove()
        $("#todo_container").append('<div id="todo">')
        $.ajax({
            type: 'GET',
            url: '/admin/view_user_todo_done/'+user_id,
            success: (todo_done) => {
                $.ajax({
                    type: 'GET',
                    url: '/admin/view_user_todos/'+ user_id,
                    success: (todos) => {
                        if (todo_done.length > 0){
                            let result = ''
                            let button = ''
                            let title = 'User Todo List'
                            for (i = 0; i < todo_done.length; i++){
                                result += '<h5>Task Done</h5>'
                                result += '<p>'+todo_done[i].task_done+ ' <small style="color:gray">('+ todo_done[i].work_date +')</small></p>'
                                result += '<hr>'
                                result += '<h5>Todo</h5>'
                                result += '<p>'+todo_done[i].task_to_do+ ' <small style="color:gray">('+ todo_done[i].work_date +')</small></p>'
                                result += '<hr>'
                            } 
                            result += '<h5>Assigned Todo List</h5>'
                            for (i = 0; i < todos.length; i++){
                               
                                if(todos[i].status == 0){
                                    button = '<button class="btn btn-outline-info btn-sm ml-3">incomplete</button>'
                                }else{
                                    button = '<button class="btn btn-success btn-sm ml-3">completed</button>'
                                }
                                result += '<a href="/admin/view_todos_details/'+todos[i].id+'">'+todos[i].todo+' ('+todos[i].name+') </a>'+ button +'<br/><br/>'
                            }
                            result += '</div>'
                            $("#in_details").html(title)
                            $("#todo").append(result)
                        }
                    }
                })
              /*  if (data.length > 0){
                    var result = ''
                    let anchor = ''
                    let title = 'User Todo List  <a href="/admin/view_todos/'+user_id+'" class="btn btn-primary ml-3">View In Details</a>'  
                    for (let i = 0; i < data.length; i++){
                        if(data[i].status == 0){
                            anchor = '<a href="/edit/project_todos/status/'+data[i].id+'/'+ data[i].status+'" class="btn btn-outline-info btn-sm ml-3">incomplete</a>'
                        }else{
                             anchor = '<a href="/edit/project_todos/status/'+data[i].id+'/'+ data[i].status+'" class="btn btn-success btn-sm ml-3">completed</a>'
                        }
                        result += '<p>'+data[i].todo +' '+ anchor+'</p>'
                    }
                    result += '</div>'
                    $("#in_details").html(title)
                    $("#todo").append(result)
                } */
            }
        })
    }
</script>