<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/admin-main.css" rel="stylesheet">
    
    <link rel="stylesheet" href="/stylesheets/toastr.min.css">
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script type="text/javascript" src="/javascripts/toastr.min.js"></script>

    <style>
        body{
            background-color: #404040;
            color: black;
            font-family: cursive;
            line-height: 12px;
        }
        .did{
            color: gray;
        }
        .did:focus{
            color: solid black;
            box-shadow: 9px 3px 11px 11px rgba(153, 153, 153, 0.3);
            border-radius: 10px;
        }
        #date{
            color: white;
            font-size: larger;
            text-align: center;
        }
        .btn-submit{
            color: white;
        }
        .btn-submit:hover{
            color: #404040;
        }
        .left-main, .right-main{
            color: white;
        }

        #main-scroll{
            overflow-y: scroll;
            padding: 10px;
        }
        
    </style>
</head>
<body>
   <div class="container-fluid mt-3">
       <div class="row">
           <div class="offset-3 col-5">
               <p id="date"></p>
           </div>
       </div>

       <div class="row">
           <div class="col-3 left-main">
               <h5>To Do List</h5>
               <hr style="background-color: white;">
               {{!-- {{#each results}} --}}
                    <p >{{todo.task_to_do}}</p>
                    <span style="color: silver;">({{todo.work_date}})</span> 
                {{!-- {{/each}} --}}
                <br>
                <hr style="background-color: white;">
                <br>
                <h5>Task Done</h5>
                {{#each done}}
                        <p class="mt-4">{{task_done}}</p>
                        <span style="color: silver;">({{work_date}})</span> 
                {{/each}}
           </div>
           <div class="col-5">
                   <form action="/main" method="POST"> 
                        <div class="form-group col-12">
                            <textarea name="done" rows="10"  class="form-control autosize-input did" placeholder="What You Did ?"></textarea>
                        </div>
                        <div class="form-group col-12 mt-4">
                            <textarea name="todo" rows="10" class="form-control autosize-input did" placeholder="Tomorrow Plan ?"></textarea>
                        </div>
                        <div class="form-group col-12 mt-4">
                            <center>
                                <button type="submit" class="btn-wide mb-2 mr-2 btn btn-outline-light btn-lg btn-submit">Submit Details</button>
                            </center>
                        </div>
                    </form>
               </div>
               <div class="col-4 right-main" style="margin-top: -30px;">
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger dropdown-toggle" style="background: #404040; border:none" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="/images/dummy.png" alt="" class="img-fluid" width="50px" style="border-radius: 50%;">
                            <span style="color: white; font-size: 20px">{{todo.name}}</span>
                        </button>
                        <div class="dropdown-menu form-group" style="padding: 10px;">
                            <form action="/change_password" method="POST">
                            <label for="password">Change Password</label>
                                <input type="password" class="form-control" name="password" id="passowrd" minlength="5">
                                <button type="submit" class="btn-wide mb-2 btn btn-lg btn-submit mt-2" style="background-color: #404040; color: white;">Change</button>
                            </form>
                        </div>
                    </div>
                    <div id="main-scroll">
                        <h5 class="mt-4">Assigned Project List</h5>
                        {{#each projects_name}}
                        <hr style="background-color: white;">
                            <h5 class="my-4" style="line-height:20px;">Project - {{project_name}}</h5>
                            
                            {{#each ../project_details}}
                                {{#if ../project_name name}}
                                    
                                    <p class="py-1">{{todo}} 
                                        <span>
                                            <a href="/edit/project_todos/status/{{id}}/{{status}}" class="ml-3 btn {{#if status 0}}btn-outline-light{{else}}btn-success{{/if}} btn-sm btn-submit">{{#if status 0}}complete{{else}}completed{{/if}}</a>
                                        </span>
                                    </p>
                                {{/if}}
                            {{/each}}
                        {{/each}}
                    </div>
                    
               </div>
           </div>
       </div>
   </div>

   <script type="text/javascript">

    setInterval(() => {
        var date = new Date()
        document.getElementById("date").innerHTML = date
    }, 1000)
    
    let deviceHeight = window.innerHeight - 100
    document.getElementById("main-scroll").style.height = deviceHeight + "px";
</script>
</body>
</html>

