
<div class="col-md-3 left-main">
    <div id="main-scroll">
        <h5>To Do List</h5>
    <hr style="background-color: white;">
        <p style="line-height: 20px;">{{todo.task_to_do}}</p>
        <span style="color: silver;">({{todo.work_date}})</span> 
    <br>
    <hr style="background-color: white;">
    <br>
    <h5>Task Done</h5>
    {{#each done}}
        <p class="mt-4" style="line-height: 20px;">{{task_done}}</p>
        <span style="color: silver;">({{work_date}})</span> 
    {{/each}}
    </div>
</div>
           
<div class="col-md-5 mt-3">
  
    <form action="/main" method="POST"> 
        <div class="form-group col-12">
            <textarea name="done" rows="9"  class="form-control autosize-input did" placeholder="What You Did ?"></textarea>
        </div>
        <div class="form-group col-12 mt-4">
            <textarea name="todo" rows="9" class="form-control autosize-input did" placeholder="Tomorrow Plan ?"></textarea>
        </div>
        <div class="form-group col-12 mt-4">
            <center>
                <button type="submit" class="btn-wide mb-2 mr-2 btn btn-outline-light btn-lg btn-submit">Submit Details</button>
            </center>
        </div>
    </form>
            
</div>



<div class="col-4 right-main">

<div id="right-scroll">
    <h5 class="mt-4">Assigned Project List</h5>
    {{#each projects_name}}
    <hr style="background-color: white;">
        <h5 class="my-4" style="line-height:20px;">Project - {{project_name}}</h5>
        
        {{#each ../project_details}}
            {{#if ../project_name name}}
                
                <p class="py-1" style="line-height: 20px;">
                    <a href="/view_todos_details/{{id}}" style="text-decoration: none; color:white;">{{todo}}</a> 
                    <span>
                        <a class="ml-3 btn {{#if status 0}}btn-outline-light{{/if}}{{#if status 2}}btn-success{{/if}}{{#if status 1}}btn-danger{{/if}} btn-sm btn-submit">{{#if status 0}}open{{/if}}{{#if status 1}}closed{{/if}}{{#if status 2}}resolved{{/if}}</a>
                    </span>
                </p>
            {{/if}}
        {{/each}}
    {{/each}}
</div>

</div>
          


   <script type="text/javascript">
    
    let deviceHeight1 = window.innerHeight - 78
    let deviceHeight2 = window.innerHeight - 78
    document.getElementById("main-scroll").style.height = deviceHeight1 + "px";
    document.getElementById("right-scroll").style.height = deviceHeight2 + "px";
</script>
{{!-- </body> --}}
{{!-- </html> --}}

