<div class="col-4">
    <div id="user-scroll">
        {{#each users}}
            <a href="/chat/{{id}}" class="chat-user">
            <div>
                <h4>{{name}}</h4>
            </div>
        </a>
        <hr class="inactive-background">
        {{/each}}            
    </div>
</div>

<div class="col-8">
    <div id="chat-scroll">
        {{#each messages}}
            {{#if ../sender_id sender}}
                <div class="pull-right box-width">
                    <p class="chat-box">{{message}}</p>
                </div>
            {{else}}
                <div class="pull-left box-width">
                    <p class="chat-box">{{message}}</p>
                </div>
            {{/if}}
        {{/each}}
    </div>
    {{#if form true}}
    <form onsubmit="return sendMessage();" class="form-inline" method="POST" id="message-form">
        <div class="position-relative form-group" style="width:87%">
             <input type="text" autocomplete="off" autofocus name="message" id="message" placeholder="Type a message..." class="form-control send-message mr-2 w-100">
        </div>
        {{!-- <div class="position-relative form-group">
             <input type="file" name="attachment" id="attachment" class="form-control-file mt-3 attachment">
        </div> --}}
       <button type="submit" class="btn btn-outline-secondary mt-3 btn-submit">Send</button>
    </form>
    {{/if}}
</div>





<script type="text/javascript">
 
    let message_count = {{message_count.message_count}}
    
    let deviceHeight1 = window.innerHeight - 78
    let deviceHeight2 = window.innerHeight - 140
    document.getElementById("user-scroll").style.height = deviceHeight1 + "px";
    document.getElementById("chat-scroll").style.height = deviceHeight2 + "px";

    var element = document.getElementById("chat-scroll")
    element.scrollTop = element.scrollHeight
    

    function sendMessage(){
        var message = document.getElementById('message').value
        var sender_id = {{sender_id}}
        var receiver_id = {{receiver_id}}
        
        $.ajax({
            url: '/chat',
            type: 'POST',
            data: {
                sender: sender_id,
                receiver: receiver_id,
                message: message
            },
            success: (data) => {
                load_data(data)
            }
        })
        document.getElementById('message-form').reset()
        return false
    }


/*
     setInterval(() => {
        $.ajax({
            url: '/get_chat',
            type: 'POST',
            data: {
                message_count: message_count,
                sender: {{sender_id}},
                receiver: {{receiver_id}}
            },
            success: (data) => {
                if (data.length > 0){
                    message_count = data[0].message_count
                    data.splice(0, 1)
                    load_data(data, false)
                }
                
            }
        })
    }, 10000) 

    */


    function load_data(data){
        var c_chat = ""
        if (data.length > 0){
            for (let i = 0; i < data.length; i++){
                if ({{sender_id}} == data[i].sender){
                    c_chat = "pull-right"
                }else{
                    c_chat = "pull-left"
                }
                var html = ''
                html += '<div class="'+c_chat+' box-width">'
                html += '<p class="chat-box">'+ data[i].message +'</p>'
                html += '</div>'
                document.getElementById("chat-scroll").innerHTML += html
            }   
        }
            
    }
   
</script>
