<div class="row">
    <div class="col-12">
        <div class="main-card mb-3 card">
            <div class="card-body"><h5 class="card-title">Active Users</h5>
                <table class="mb-0 table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Designation</th>
                            <th style="width: 100px;">Skills</th>
                            <th>Role</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each users}}
                            {{#if status 1}}
                                <tr>
                                    <td>{{name}}</td>
                                    <td>{{email}}</td>
                                    <td>{{designation}}</td>
                                    <td>{{skills}}</td>
                                    <td>{{role}}</td>
                                    <td>
                                        <a href="/admin/edit/user/{{id}}" class="btn btn-warning btn-circle">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        &nbsp;&nbsp;
                                        <a href="/admin/inactive/user/{{id}}" class="btn btn-danger btn-circle">
                                            Inactive
                                        </a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="/admin/view_user/details/{{id}}" class="btn btn-info btn-circle">
                                            View Details
                                        </a>
                                    </td>
                                </tr>
                            {{/if}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
