<div class="col-md-12">
    <div class="main-card mb-3 card">
        <div class="card-header">
            {{project.name}} 
            <a href="/admin/edit/project_details/{{project.id}}" class="ml-5 btn btn-lg btn-warning text-white">Edit</a>
            <a href="/admin/view_todos/{{project.id}}" class="ml-2 btn btn-lg btn-info">Todos</a>
        </div>
        <div class="card-body">
            <h5>Front-End Technology </h5>
            <span>{{project.frontend}}</span>
            <hr>
            <h5>Back-End Technology </h5>
            <span>{{project.backend}}</span>
            <hr>
            <h5>Status</h5>
            {{#if project.status 1}}
                <span class="btn btn-success mt-2">ongoing</span>
            {{else}}
                <span class="btn btn-danger mt-2">stopped/completed</span>
            {{/if}}
            <hr>
            <h5>Assigned To</h5>
            {{#each assigned_users}}
                <p class="mt-3">{{name}}</p>
            {{/each}}
            <hr>
            <h5>Description</h5>
            {{project.details}}
        </div>
    </div>
    
</div>